.Dashboard-container {
	height: 100vh;
}

.Dashboard-container {
	overflow-y: scroll;

	display: grid;
	grid-template-columns: 1fr 1fr;
}

.SubDashboard-heading {
	text-transform: capitalize;
}

.SubDashboard table {
	width: 100%;
}

.SubDashboard thead {
	background-color: rgba(62, 36, 212, 0.606);
	color: white;
}

.SubDashboard td,
th {
	padding: 0.6rem;
	max-width: 200px;
}

.SubDashboard tr:nth-child(even) {
	background-color: #ddd;
}

.SubDashboard tr:hover {
	background-color: rgba(4, 237, 171, 0.419);
}

.SubDashboard tr {
	transition: background-color 0.2s;
}
