.Dashboard {
	height: 100vh;
}

.Dashboard-heading {
	font-size: 1.8rem;
	padding: 10px;
}

.Dashboard-container {
	overflow-y: scroll;
	height: 90%;

	display: grid;
	grid-template-columns: 1fr 1fr;

	@media (max-width: 500px) {
		grid-template-columns: 1fr;
	}
}

.SubDashboard-heading {
	text-transform: capitalize;
}
