.Dashboard {
	height: 100vh;
	border-left: 1px solid lightgray;
	display: flex;
	flex-direction: column;
}

.Dashboard-heading {
	font-size: 1.8rem;
	padding: 10px;
}

.Dashboard-container {
	overflow-y: scroll;
	// height: auto;

	display: grid;
	grid-template-columns: 1fr 1fr;

	@media (max-width: 1400px) {
		grid-template-columns: 1fr;
	}
}

.SubDashboard-heading {
	text-transform: capitalize;
}
