.MainApp {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
}

.MainApp-map {
	width: 100vw;
	height: 100%;
}

.MainApp-dashboard {
	transition: width 1s;
	/* position: absolute; */
}
.MainApp-dashboard-hidden {
	width: 0%;
}

.MainApp-dashboard-visible {
	width: 100%;
}

@media (max-width: 700px) {
	.MainApp {
		flex-direction: column;
	}

	.MainApp-map {
		width: 100%;
		height: 50vh;
	}

	.MainApp-dashboard {
		width: 100%;
	}
}
